.inside-graph {
    background-color: #F5F5F5;
}

.logo-img {
    padding-top: 1vh;
    width: 5vw
}

@media screen and (max-width: 700px) {
    .logo-img {
        width: 70%;
        float: right;
        text-align: right;
    }
    .slim-header-right {
        display: block !important;
    }
}

.inline {
    display: inline-block;
}

.slim-card-title {
    font-size: 15px !important;
    letter-spacing: 1.5px;
}

.red {
    color: #dc3545 !important;
}

.blue {
    color: #1b84e7 !important;
}

.green {
    color: #23BF08 !important;
}

.yellow {
    color: #F49917 !important;
}

.red-blue {
    color: purple !important;
}

.red-green {
    color: orangered !important;
}

.img-container {
    height: 150px !important;
    overflow: hidden;
    margin-bottom: 2vh;
}

.img-place {
    height: 150px;
    transition: .2s ease-out;
}

.img-place:hover {
    height: 200px !important;
    transform: translate(-25px, -10px);
}

.img-place-sub {
    height: 150px;
    transition: .2s ease-out;
}

.img-place-sub:hover {
    height: 200px !important;
    transform: translate(-80px, -10px);
}

.img-place-mdn {
    height: 160px;
    transition: .2s ease-out;
}

.img-place-mdn:hover {
    height: 200px !important;
    transform: translate(-25px, -10px);
}